@import url(fonts/font-awesome.css);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

html {
	overflow-y: scroll;
}

body {
	background-color: #405060;
}

body,
html,
#root {
	height: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
}
